<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CmdLine" value="C:\PTC\Creo 2.0\Parametric\bin\parametric.exe" />
    <add key="TextPath" value="" />
    <add key="WorkDirectory" value="D:\ProeRes" />
    <add key="Configfile" value="D:\ProeRes\config.pro" />
    <add key="TolFilepath" value="C:\PTC\Creo 2.0\Common Files\M060\tol_tables\iso\" />
    <add key="Messagefile" value="D:\ProeRes\msg.txt" />
    <add key="SymbolFilePath" value="C:\PTC\Creo 2.0\Common Files\M060\symbols\" />
    <add key="Url" value="http://www.hudi.site" />
    <add key="IconFile" value="D:\ProeRes\app.ico" />

    
  </appSettings>
</configuration>